*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 25%;
  height: 400px;
  height: 400px;
  
}

header nav {
  width: 100%;
  background-color: white;
  height: 35px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

header .menu ul  {
  display: flex;
  list-style: none;

}

header .menu ul a {
  text-decoration: none;
}

.menu a {
  padding-right: 15px;
  color: grey;
  
}


.menu a {
  padding-right: 15px;
  color: grey;
  
  align-items: center;
}

/*da vedere */
.header .menu .text {
  background-color: blue;
  color: white;
  text-align: center;

}

.jumbotron {
  width: 100%;
  background-color: skyblue;
}
.container h1, p {
  margin-bottom: 20px;
}

.annulla {
  margin-top: 20px;
}

.container p, button {
  width: 35%;

}

.image-jumbo {
  width: 800px;
  height: 400px;


}









