*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 25%;
  
}

.button {
  background-color: blue;
  color: white;
  padding: 10px;

}

header nav {
  width: 100%;
  background-color: white;
  height: 80px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .menu ul  {
  display: flex;
  list-style: none;

}

header .menu ul a {
  text-decoration: none;
}

.menu a {
  padding-right: 15px;
  color: grey;
  
}


.menu a {
  padding-right: 15px;
  color: grey;
  
  align-items: center;
}

.jumbotron {
  width: 100%;
  background-color: skyblue;
  height: 400px;
}
.container h1, p {
  margin-bottom: 20px;
}

.annulla {
  margin-top: 20px;
}

.jumbo  img{
  width: 700px;
  height: 400px;
}

.d-flex {
  display: flex;
}

.fa-solid {
  font-size: 30px;

}

.column {
  width: calc(100% / 3);
  height: 800px;
  border: solid #e9e9e9;
  
}

.column .tipologia{
  text-align: center; 
  margin-top: 10px;

  
}

.column hr {
  border: solid #e9e9e9;
}

main ul {
  list-style: none;
}

main li {
  margin-top: 30px;
  margin-left: 15px;
}

main li .button {
  text-decoration: none;















